:root {
  --blue-backgrond: #7b66fb;
  --yellow: #fff500;
  --black: #000000;
  --black-grey: #757272;
  --white: #ffffff;
}

body {
  font-family: "poppins", Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../welcome\ picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 150px;
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}
ul li {
  display: inline-block;
  padding-right: 50px;
  font-weight: bold;
  color: var(--white);
}

li a {
  text-decoration: none;
  padding: 30px;
  font-size: 1.6em;
}
.cta-1 {
  background-color: var(--blue-backgrond);
  color: var(--white);
  padding: 10px 30px;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 10px;
  text-shadow: -1px 2px 2px var(--black);
  box-shadow: -1px 2px 10px var(--black-grey);
  transition: ease-in-out 1000ms;
}
.cta-1:hover {
  background-color: var(--black-grey);
}

h1 {
  font-size: 6em;
  font-family: "Kaushan Script", cursive;
  color: var(--yellow);
  text-align: center;
  text-shadow: -1px 2px 2px var(--black);
}

h2 {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: var(--white);
  font-style: italic;
  float: right;
  padding-top: 73px;
  margin-right: 100px;
  max-width: 350px;
}

.logo-picture {
  float: right;
  padding-top: 150px;
  position: relative;
  padding-top: 184px;
  left: 150px;
}

.cta-2 {
  background-color: var(--blue-backgrond);
  color: var(--white);
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 8px;
  position: absolute;
  left: 70rem;
  bottom: 50px;
  margin-right: 100px;
  text-shadow: -1px 2px 2px var(--black);
  transition: ease-in-out 1000ms;
}
.cta-2:hover:hover {
  background-color: var(--black-grey);
}
