@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --blue-backgrond: #7b66fb;
  --yellow: #fff500;
  --black: #000000;
  --black-grey: #757272;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Satisfy", cursiven, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin: 20px 0px;
}

.logo_1 {
  max-width: 53px;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

ul a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 16px;
  padding: 5px;
}

h1 {
  font-size: 35px;
  font-family: Satisfy;
  color: var(--yellow);
  margin-top: 80px;
}

h2 {
  box-sizing: border-box;
  max-width: 236px;
  font-family: "Merriweather", serif;
  align-items: center;
  font-size: 18px;
  text-align: center;
  color: var(--yellow);
  font-weight: 700;
}

.cta {
  background: var(--blue-backgrond);
  color: var(--white);
  padding: 8px 50px;
  font-family: "Merriweather", serif;
  margin-top: 50px;
}

.background {
  background-image: url(/welcome\ picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.profile_img {
  max-width: 300px;
  margin-top: 15px;
}

.center {
  max-width: 300px;
  margin: 0 auto;
}

p {
  color: var(--white);
  font-family: "Merriweather", serif;
}

.heading {
  text-align: center;
  margin: 0 auto;
}
