@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --blue-backgrond: #7b66fb;
  --yellow: #fff500;
  --black: #000000;
  --black-grey: #757272;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Satisfy", cursiven, Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--black);
}

.logo {
  width: 100%;
  max-width: 200px;
  margin: 20px 0px;
}

.logo_1 {
  max-width: 50px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav a {
  color: #ffffff;
  font-family: "Merriweather", serif;
  font-size: 16px;
  padding: 5px;
}
nav ul a {
  text-decoration: none;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 35px;
  font-family: Satisfy;
  color: #fff500;
  padding: 50px 0px;
}

p {
  box-sizing: border-box;
  max-width: 236px;
  font-family: "Merriweather", serif;
  align-items: center;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.cta {
  background: var(--blue-backgrond);
  color: var(--white);
  padding: 8px 50px;
  font-family: "Merriweather", serif;
  margin-top: 50px;
}
section {
  background-image: url(/welcome\ picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
}

@media (min-width: 1020px) {
  .nav {
    flex-direction: inherit;
    justify-content: space-around;
    height: 80px;
  }
  nav ul a {
    padding: 10px;
  }
}
